_notes/dwsync.xml
blox.xcodeproj/mcatm.mode1v3
blox.xcodeproj/mcatm.pbxuser
blox.xcodeproj/pelepop.mode1v3
blox.xcodeproj/pelepop.pbxuser
blox.xcodeproj/project.pbxproj
blox.xcodeproj/sahamada.mode1v3
blox.xcodeproj/sahamada.pbxuser
.DS_Store
build/blox.build/blox.pbxindex/categories.pbxbtree
build/blox.build/blox.pbxindex/cdecls.pbxbtree
build/blox.build/blox.pbxindex/decls.pbxbtree
build/blox.build/blox.pbxindex/files.pbxbtree
build/blox.build/blox.pbxindex/imports.pbxbtree
build/blox.build/blox.pbxindex/pbxindex.header
build/blox.build/blox.pbxindex/protocols.pbxbtree
build/blox.build/blox.pbxindex/refs.pbxbtree
build/blox.build/blox.pbxindex/strings.pbxstrings/control
build/blox.build/blox.pbxindex/strings.pbxstrings/strings
build/blox.build/blox.pbxindex/subclasses.pbxbtree